.nav-icon-text {
  font-size: 0.6rem;
  line-height: 1rem;
  opacity: 75%;
}

.nav-icon-wrapper {
  @apply rounded-lg px-3 py-2 transition-transform group-hover:scale-105 group-hover:bg-stone-200/60;
}

.nav-icon {
  width: 1.4rem;
  height: 1.4rem;
  transition:
    width 0.2s ease-out,
    height 0.2s ease-out;
  @apply stroke-1.25;
}

.nav-labels-hidden .nav-icon {
  @apply h-5 w-5 stroke-1.25;
}

.nav-labels-hidden .nav-icon-wrapper {
  @apply px-2 py-1.5;
}

.nav-link-active {
  @apply font-semibold;
  .nav-icon-wrapper {
    @apply bg-stone-200/60;
  }
}

.nav-item {
  @apply flex min-h-8 flex-col justify-center border-0 px-2 py-0 text-sm;
}

.nav-labels-hidden .nav-item {
  @apply min-h-0;
}

.nav-item-child {
  @apply pt-0 pl-4;
}

.nav-labels-hidden .nav-icon-text {
  display: none;
}
